.slider 
  background-color: #000000
  padding: 3px
  max-width: 100%
  position: relative
  padding: 3px 3px 0 3px
  .slick-prev
    width: 40px
    height: 42px
    font-size: 0
    background-color: transparent
    border: 0
    outline: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -10px
    z-index: 9999
    background: url('/static/next-button.png')
    background-repeat: no-repeat
    cursor: pointer
  .slick-next
    width: 40px
    height: 42px
    font-size: 0
    background-color: transparent
    border: 0
    outline: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: -10px
    z-index: 9999
    background: url('/static/prev-button.png')
    background-repeat: no-repeat
    cursor: pointer

.boxes
  display: flex
  flex-wrap: wrap
  margin-top: 30px
  .box
    flex: calc(50% - 24px)
    padding: 12px
    margin-bottom: 20px
    &-title 
      font-size: 2rem
      font-family: 'Coming Soon', cursive
    &-inner 
      padding: 16px 22px
      min-height: 225px
      p 
        font-size: 1.1rem
        margin-bottom: 0
        margin-top: 5px
        a 
          text-decoration: none
          color: #337ab7
      ul 
        padding-left: 12px
        padding-bottom: 0
        li 
          margin-bottom: 8px
      iframe
        width: 100%
  .box:nth-of-type(1) 
    .box-inner 
      background: url('/static/box-bg-1.png')
      background-repeat: no-repeat
      background-size: 100%
  .box:nth-of-type(2) 
  .box-inner 
    background: url('/static/box-bg-2.png')
    background-repeat: no-repeat
    background-size: 100%
  .box:nth-of-type(3) 
    .box-inner 
      background: url('/static/box-bg-3.png')
      background-repeat: no-repeat
      background-size: 100%
      padding: 15px 3px 0 3px
  .box:nth-of-type(4) 
    .box-inner 
      background: url('/static/box-bg-4.png')
      background-repeat: no-repeat
      background-size: 100%

@media all and (max-width: 700px)
  .boxes
    .box
      flex: calc(100% - 24%)
      margin: 0
      height: auto
      margin-bottom: 10px
      padding: 0
      &-title 
        text-align: center
      &-inner 
        min-height: auto
        border: 3px solid #000000
        p 
          font-size: 1.3rem
        ul 
          li 
            font-size: 1.3rem
  .box:nth-of-type(1) 
    .box-inner 
      background: #ffb4b4!important
  .box:nth-of-type(2) 
    .box-inner 
      background: #d0ffcf!important
  .box:nth-of-type(3) 
    .box-inner 
      background: #ffd3ff!important
  .box:nth-of-type(4) 
    .box-inner 
      background: #ffeacf!important

@media all and (max-width: 860px) 
  .nav
    display: none
  .mobile-nav
    display: block!important
